body{
    text-align: center;
    background-color:palegreen;
}
.announcment{
 background-color: aqua;
    color: green;
    font-size: 20px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.travel-mainDiv{
    float: left;
    width: 33.33%;
    border: 1px solid #c7c7c7;
}

.travel-mainDiv img {
    width: 100%;
    height: 300px;
}

.travel-mainDiv hr {
    width: 100%;
}

.travel-mainDiv h5, .travel-mainDiv p{
    margin-left: 20px;
}

#achievementsID{
    padding-bottom: 10px;
}

.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i{
    float: right;
}

.movie_text span{
    color: orange;
}
.map iframe{
    width: 100%;
    
}

#footer{
    height: 20px;
    background-color: white;
}